<div class="spacer translucentBox">

</div>
<div class="footer pt-1">
    <a class="w-100 text-center d-block" target="_blank"
        href="http://organizedoutdoor.com/">www.organizedoutdoor.com</a>
</div>
<script src="/scripts/main.js"></script>
</body>

</html>