<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Office Authentication</title>
</head>

<body>
    <div class="navb row p-0 m-0">
        <a class="navItem col-md-1 py-2" id="homeIcon" href="/"><i class="fas fa-home"></i></a>
        <div class="nav col-md-11">
            <% if(currentUser){ %>
            <a class="navItem" href="/profile"> Hello <span <% if(currentUser.designation == "admin"){ %>
                    class="tgoldenYellow"
                    <% } %>><%=currentUser.name.charAt(0).toUpperCase() + currentUser.name.slice(1)%></span></a>
            <a href="/campaign" class="navItem"> TRACK</a>
            <a href="/venNet" class="navItem" id="venNetNav"> VEN-NET</a>
            <% if(currentUser.designation == "admin" || currentUser.designation == "alliance"){ %>
            <a href="/directory" class="navItem">DIRECTORY</a>
            <% } %>
            <% if(currentUser.designation == "admin"){ %>
            <a class="navItem" href="/signup"> REGISTER</a>
            <a class="navItem" href="/deleteUser"> TEAM</a>
            <% } %>
            <a class="navItem" href="/logout"> LOGOUT</a>
            <% } %>
        </div>
    </div>