<% include ./partials/header %>

<div class="container">
    <div class="col-md-12 mx-auto translucentBox p-0">
        <h1 class="bg-black py-2 text-center textshadow  py-2 ">HELP SECTION</h1>
        <div class="p-3 px-4 row">
            <div class="w-100">
                <h2 class="text-center goldenyellow">Designation & Power</h2>
                <div class="row">
                    <div class="col-md-2">
                        <strong>
                            <div>Administrator</div>
                            <div>Coordinator</div>
                            <div>Accountant</div>
                            <div>Designer</div>
                            <div>Alliance</div>
                            <div>Vendors</div>
                        </strong>
                    </div>
                    <div class="col-md-10">
                        <div>: Profile (add, delete), Campaign (add, edit, delete), Vendor (add, view),
                            Directory
                            (add, edit, view)</div>
                        <div>: Campaign (add, edit, delete) (If it’s assigned to particular coordinator) ,
                            Vendor
                            (add, view)</div>
                        <div>: Campaign (edit), Vendor (add, edit, view)</div>
                        <div>: Campaign (edit), Vendor (add, view)</div>
                        <div>: Campaign (view), Vendor (add, edit, view), Directory (add, edit, view)</div>
                        <div>: Vendor (add)</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">EXCEL</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>Change sheet from .xls to .xlsx</div>
                        <div>Change sheet name to vendor's name.</div>
                        <div>Filename shouldn’t have comma in their name.</div>
                        <div>Remove empty rows from sheet.</div>
                        <div>Only keep headings bolded.</div>
                        <div>Don’t use merged columns and rows.</div>
                        <div>All main headings should be in one row.</div>
                        <div>Don’t add headings after first five rows of the excel sheet.</div>
                        <div>If Height & Width are in different columns system will automatically remove all the special
                            characters like “X” “*” or any other symbols.</div>
                        <div>If Height & Width Columns are merged, User needs to take certain precautions before
                            uploading the sheet, Details are as follows :</div>
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="text-center goldenyellow">Hoarding (In merged H&W)</h2>
                                <div>Please use “xxx size” instead of H&W</div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="text-center goldenyellow">BQS (In merged)</h2>
                                <div>(xxx top) - Please use instead of Top or TPSW' and TPSH'</div>
                                <div>(xxx side) - Please use instead of Side or SPSW' and SPSH'</div>
                                <div>(xxx back) - Please use instead of Back or BDW' and TPSH'</div>
                                <div>(xxx mupi) - Please use instead of Mupi or MPW' and TPSH'</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">PRESENTATION</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>Change presentation from .ppt to .pptx</div>
                        <div>Filename shouldn’t have comma in their name.</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">TRACK</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>Anyone having an account can view all the campaigns.</div>
                        <div>Users will have the power to edit and add their campaign fields in accordance with their
                            designation.</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">Add New</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>Any one can handle the project in “Handle By”.</div>
                        <div>But only one coordinator can be assigned to any campaign and coordinator can be assigned by
                            Project Handler.</div>
                        <div>Select add new in client and campaign name to open new respective fields.</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">VENDORS</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>User can search vendors by id, city and name of vendor.</div>
                        <div>User can search for vendors by pressing enter after typing in the text field or clicking
                            the search icon next to text field.</div>
                        <div>User can visit vendor page by clicking the vendor name.</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">Add Individual</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>This page is open to everyone.</div>
                        <div>User can add as many media options as you want.</div>
                        <div>User can upload a single file in cancelled cheque and vendor stamp.</div>
                        <div>User can add up to 10 files in documents.</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <h2 class="text-center goldenyellow">Add Multiple</h2>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div>You can upload up to 10 files in this input fields.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer2 %>