<% include ./partials/header %>

<div class="container">
    <div class="col-md-10 mx-auto translucentBox p-0">

        <h1 class="bg-black py-2 text-center">HELP SECTION</h1>
        <div class="p-3 px-4 text-center">
           COMING SOON
        </div>
    </div>
</div>

<% include ./partials/footer2 %>