<% include ./partials/header %>

<div class="container">
    <div class="col-md-12 mx-auto bg-black p-0">
        <h1 class="bg-black py-2 text-center textshadow  py-2 ">HELP SECTION</h1>
        <div class="p-3 px-4 row">
            <div class="w-100 py-3">
                <div class="head">
                    <h2 class="text-center goldenyellow">Designation & Power</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-2">
                        <strong>
                            <div>Administrator</div>
                            <div>Coordinator</div>
                            <div>Accountant</div>
                            <div>Designer</div>
                            <div>Alliance</div>
                            <div>Vendors</div>
                        </strong>
                    </div>
                    <div class="col-md-10">
                        <div>: Profile (add, delete), Campaign (add, edit, delete), Vendor (add, view),
                            Directory
                            (add, edit, view)</div>
                        <div>: Campaign (add, edit, delete) (If it’s assigned to particular coordinator) ,
                            Vendor
                            (add, view)</div>
                        <div>: Campaign (edit), Vendor (add, edit, view)</div>
                        <div>: Campaign (edit), Vendor (add, view)</div>
                        <div>: Campaign (view), Vendor (add, edit, view), Directory (add, edit, view)</div>
                        <div>: Vendor (add)</div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-3">
                <div class="head">
                    <h2 class="text-center goldenyellow">EXCEL</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>Change sheet from .xls to .xlsx</li>
                            <li>Change sheet name to vendor's name.</li>
                            <li>Filename shouldn’t have comma in their name.</li>
                            <li>Remove empty rows from sheet.</li>
                            <li>Only keep headings bolded.</li>
                            <li>Don’t use merged columns and rows.</li>
                            <li>All main headings should be in one row.</li>
                            <li>Don’t add headings after first five rows of the excel sheet.</li>
                            <li>If Height & Width are in different columns system will automatically remove all the
                                special characters like “X” “*” or any other symbols.</li>
                            <li>If Height & Width Columns are merged, User needs to take certain precautions before
                                uploading the sheet, Details are as follows :</li>
                        </ol>
                        <div class="row py-3">
                            <div class="col-md-6">
                                <div class="head">
                                    <h5 class="text-center goldenyellow">Hoarding (In merged H&W)</h5>
                                </div>
                                <ol>
                                    <li>Please use “xxx size” instead of H&W</li>
                                </ol>
                            </div>
                            <div class="col-md-6">
                                <div class="head">
                                    <h5 class="text-center goldenyellow">BQS (In merged)</h5>
                                </div>
                                <ol>
                                    <li>(xxx top) - Please use instead of Top or TPSW' and TPSH'</li>
                                    <li>(xxx side) - Please use instead of Side or SPSW' and SPSH'</li>
                                    <li>(xxx back) - Please use instead of Back or BDW' and TPSH'</li>
                                    <li>(xxx mupi) - Please use instead of Mupi or MPW' and TPSH'</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <div class="head">
                    <h2 class="text-center goldenyellow">PRESENTATION</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>Change presentation from .ppt to .pptx</li>
                            <li>Filename shouldn’t have comma in their name.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <div class="head">
                    <h2 class="text-center goldenyellow">TRACK</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>Anyone having an account can view all the campaigns.</li>
                            <li>Users will have the power to edit and add their campaign fields in accordance with their
                                designation.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <div class="head">
                    <h2 class="text-center goldenyellow">Add New</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>Any one can handle the project in “Handle By”.</li>
                            <li>But only one coordinator can be assigned to any campaign and coordinator can be assigned
                                by
                                Project Handler.</li>
                            <li>Select add new in client and campaign name to open new respective fields.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <div class="head">
                    <h2 class="text-center goldenyellow">VENDORS</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>User can search vendors by id, city and name of vendor.</li>
                            <li>User can search for vendors by pressing enter after typing in the text field or clicking
                                the search icon next to text field.</li>
                            <li>User can visit vendor page by clicking the vendor name.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <div class="head">
                    <h2 class="text-center goldenyellow">Add Individual</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>This page is open to everyone.</li>
                            <li>User can add as many media options as you want.</li>
                            <li>User can upload a single file in cancelled cheque and vendor stamp.</li>
                            <li>User can add up to 10 files in documents.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="w-100 py-2">
                <div class="head">
                    <h2 class="text-center goldenyellow">Add Multiple</h2>
                </div>
                <div class="row py-3">
                    <div class="col-md-12">
                        <ol>
                            <li>You can upload up to 10 files in this input fields.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer2 %>