<% include ./partials/header %>

<div class="container">
    <div class="col-sm-6 mx-auto translucentBox p-0">

        <h1 class="bg-black py-2 text-center"> SIGN-UP</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert translucentBox text-center">
            <%= message %>
        </div>
        <% } %>
        <div class="p-3 px-4">
            <!-- SIGN UP FORM -->
            <form action="/signup" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" autofocus required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <label>Designation</label>
                    <select class="form-control" name="designation" required>
                        <option value="">Select Designation</option>
                        <option value="admin">Admin</option>
                        <option value="Coordinator">Coordinator</option>
                        <option value="Alliance">Alliance</option>
                        <option value="Designer">Designer</option>
                        <option value="Accountant">Accountant</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Office Id</label>
                    <input type="text" class="form-control" name="officeId" required>
                </div>
                <div class="form-group">
                    <label>Phone no.</label>
                    <input type="number" min="1000000000" max="9999999999" class="form-control" name="number" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn goldenYellow btn-lg">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer2 %>