<% include ./partials/header %>
<div class="contain text-center m-0 h-100 pr-5">
    <div class="row">
        <div class="col-md-2 text-left  position-fixed upper textshadow">
            <a class="btn bg-black my-2 w-75 shake" href="/venNet/new"><i class="fas fa-angle-up p-2 float-left"></i> Add
                Individual</a>
            <a class="btn bg-black my-2 w-100 tgoldenYellow shake" href="/venNet/upload"><i
                    class="fas fa-angle-double-up p-2 float-left"></i> Add Multiple</a>
            <a class="btn bg-black my-2 w-75 shake" href="/venNet/download"><i class="fas fa-file-alt p-2 float-left"></i>
                Download</a>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-10 ">
            <h1 class="text-center bg-black textshadow m-0  py-2 "> New Vendor</h1>
            <div class="translucentBox p-4">
                <form action="/venNet/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="">Uplaod .xlsx file for venNet</label>
                        <input type="file" class="form-control-file border-black" id="accounts" name="uploaded" multiple
                            accept=".xlsx">
                        <small class="form-text text-muted">
                            *You can upload multiple image/files placed in a location locally by selecting
                            multiple images while holding ctrl key.
                        </small><br>
                    </div>
                    <div class="text-center">
                        <button type="submit" id="submitButton" class="btn goldenYellow btn-lg my-3 buttona">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer2 %>