<% include ./partials/header %>

<div class="container text-center">
    <a class="btn btn-xs btn-info " href="/venNet/new"> Add
        new Vendor</a>
    <a class="btn btn-xs btn-info " href="/venNet/upload"> upload
        vendor from sheet</a>
    <a class="btn btn-xs btn-info " href="/venNet/download"> Download
        all vendors</a>
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8 text-center">
            <label id="">Search</label>
            <input id="vendorSearch" type="text" class="form-control" name="Search">
            <button onclick="vendorSearch()" class="p-2 m-2 bg-transparent border-0"><i
                    class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="form-group">
        <label>Search By</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchBy" id="completedRadio1" value="id">
            <label class="form-check-label" for="completedRadio1">Id</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchBy" id="completedRadio2" value="city" checked>
            <label class="form-check-label" for="completedRadio2">City</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="searchBy" id="completedRadio3" value="vendorName">
            <label class="form-check-label" for="completedRadio3">Vendor Name</label>
        </div>
    </div>
    <table align="center" class="tab" id="append">

    </table>
</div>

<% include ./partials/footer %>