.container {
  padding-top: 60px;
}

.contain {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 60px;
  min-height: 100vh;
}

.spacer {
  width: 100%;
  height: 50px;
}

body {
  background-image: url(/images/spectacular.jpg);
  background-attachment: fixed;
  color: white;
}

/* navbar */

.navb {
  height: 40px;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: 3;
  opacity: 0.8;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#homeicon{
  font-size: 25;
  padding-left: 20px;
}

.footer {
  width: 100%;
  background-color: black;
  height: 40px;
  opacity: 0.8;
  position: fixed;
  bottom: 0;
}

.fixed {
  position: fixed;
  left: 50%;
}

#pageHeading {
  padding-top: 40px;
}

/* .scrollLeft{
  padding-left: 50% ;
  position: absolute;
} */

.navItem {
  text-decoration: none;
  color: white;
}

.navItem:hover {
  text-decoration: none;
  color: gray;
}

.campaignTable {
  /* margin-bottom : 25px; */
  padding-top: 165.5px;
}

.tab th,
.tab td {
  padding: 0.25em 0.25em;
  margin: 0.15em;
  font-size: 0.83rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #424040;
  white-space: nowrap;
  height: 32px;
  width: 205px;
  color: white;
}

.tab small {
  white-space: normal;
}

table td {
  vertical-align: top;
  padding: 0;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.4rem 0.4rem;
  font-size: 0.75rem;
  line-height: 0.6;
  border-radius: 0.2rem;
}

.border-none {
  border: none !important;
}

select.border-none,
input[type="number"].border-none::-webkit-inner-spin-button,
input[type="number"].border-none::-webkit-outer-spin-button,
input[type="date"].border-none::-webkit-inner-spin-button,
input[type="date"].border-none::-webkit-outer-spin-button,
input[type="date"].border-none::-webkit-calendar-picker-indicator {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

input[type="date"].border-none::-webkit-calendar-picker-indicator {
  display: none;
}

/* For IE10 */
select.border-none::-ms-expand {
  display: none;
}

.activePage {
  color: #ffdf00 !important;
}

.scrollT {
  background-color: black;
}

.Camapignshead {
  z-index: 2;
}

.sheetTabs {
  /* padding-bottom: 36px; */
  width: 30vw;
}

.tab th {
  background-color: black;
}

.tab td {
  background-color: 0d0d0d;
}

.w-200 {
  width: 200px;
}

.spacer {
  width: 100%;
  height: 50px;
}

body {
  background-image: url(/images/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: "Tahoma";
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

input:disabled {
  color: white;
}

select:disabled {
  color: white;
}

select {
  color: white;
  background: black;
}

option {
  background-color: black;
}

input {
  color: white;
}

.activeLeftTab {
  color: #ffdf00 !important;
  width: 100% !important ;
}

#indexBox {
  height: 80vh;
  width: 100%;
  padding-right: 0;
}

.authBox {
  padding-left: 0;
}

.translucentBox {
  background: rgba(0, 0, 0, 0.8);
}

.indexIcon {
  font-size: 80;
}

.border-black {
  border-style: solid;
  border-color: #212121;
  border-width: 2px;
}

.goldenYellow {
  background-color: #ffdf00;
  color: black !important;
}

.tgoldenYellow {
  color: #ffdf00 !important;
}

.indexbtn {
  width: 150px;
}

.indexbtn:hover {
  color: black !important;
}

.bg-black {
  background-color: black;
  color: white;
}

.indexcontain {
  padding-top: 80px;
}

.bigIcon {
  font-size: 30px;
}

a:hover {
  cursor: pointer;
  color: #ffdf00 !important;
}

#vendorAdd {
  width: 100px;
}

.tdIcon {
  height: 36px !important;
  vertical-align: middle !important;
}

.firstRow td{
  background-color: black;
}

td form{
  margin-block-end: 0;
}

td.extraiconcell{
  width: 30px;
  background-color: transparent;
  border: none;
}